


<div  class="h-full w-full absolute hidden bg-transparent flex items-end justify-end" id="create_task_modal"  >
    <div class="create_task_modal_content   overflow-x-hidden overflow-y-auto justify-center items-center bg-gray-600 border border-gray-600 absolute bottom-[72px] righ-[24px] w-[600px] h-[600px]  "  >
        <div class="w-full h-full  overflow-y-auto">
            <div class="shadow overflow-y-auto bg-[#384047] p-4"> 
                



                <div class="flex flex-col overflow-y-auto relative">
                    <div class="flex flex-row py-2 items-center space-x-4">
                        <div class="task_category_toggle_task_modal border hover:border-white rounded-sm border-transparent p-0.5 self-center cursor-pointer">    
                            <div class="h-3 w-3 bg-white rounded-sm self-center "></div>
                            <input id="task_category_toggle_task_modal_value" type="hidden" name="">
                        </div>
                        <div class="hidden">
                            categories here
                        </div>
                        <input class="bg-transparent p-2 w-full outline-none mx-2" type="text" id="name_create_task" placeholder="create task" required>
                        <div class="text-xl p-2 hover:bg-[#1e272e] hover:text-[#7c68ee] cursor-pointer rounded-full">
                            <%- include('../icons/close.svg') %>
                        </div>
                    </div>
                    
                    <div class="w-full">
                        <div class="flex flex-row items-center my-2">
                            <p>in</p>
                            <div class="ml-2 h-8  border border-[#1e272e] rounded-full flex items-center p-2 w-1/2" type="text" id="task_create_select_input_toggle">&
                                <input type="hidden" id="task_create_select_input_id">
                            </div>
                        </div>
                        <div class="absolute border border-[#1e272e] rounded-lg bg-[#2b343b] h-fit w-1/2 p-2 left-8 hidden" id="task_create_select_input">
                            <input id="selected_list_to_add_task_search" type="text" class="outline-none w-full bg-transparent border-b border-[#1e272e] " placeholder="Search workspaces and lists . . .">
                            <% for (let i = 0; i < workspaces.length; i++) { %>
                                <div class="flex flex-row items-center p-2  hover:bg-red-600">
                                    <%- include('../icons/chevron_down.svg') %><%= workspaces[i].name %>
                                </div>
                                <% for (let k = 0; k < workspaces[i].lists.length; k++) { %>
                                    <div id="<%= workspaces[i].id %>__<%= workspaces[i].lists[k]._id %>" class="selected_list_to_add_task px-6 hover:bg-green-600"><%= workspaces[i].lists[k].name %></div>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <textarea class="bg-transparent border border-[#1e272e] p-2 outline-none h-24 rounded-md" placeholder="description" name="" id="" cols="30" rows="10" ></textarea>
                    





                    <div class="w-full border border-[#1e272e] my-2 rounded-md flex flex-col divide-y-[1px] divide-[#1e272e]">






                        <div class="flex flex-row h-8  items-center w-full divide-x-[1px] divide-[#1e272e]  ">
                            <div class="w-1/2 px-2 " id="in_list_selected_type">type</div>
                            <div class="w-1/2 h-full flex items-center justify-center cursor-pointer relative " id="toggle_in_list_types">
                                <div class="h-full w-full flex items-center justify-center rounded-tr-md">-</div>
                                <div class="absolute hidden border border-[#1e272e] bg-[#2b343b] h-32 w-32 p-2 overflow-y-auto shadow-lg top-8 z-50 " id="in_list_types">
                                    <%for (let i = 0; i < user_data.types.length; i++) { %>
                                        <div id="<%= user_data.types[i]._id %>" class="clicked_type_in_list  flex flex-row  items-center cursor-pointer p-2" onmouseenter="this.style.backgroundColor = '<%= user_data.types[i].color %>'" onmouseleave="this.style.backgroundColor = 'transparent'">
                                            <div class="w-3 h-3 rounded-sm " style="background-color: <%= user_data.types[i].color %>" > </div>
                                            &nbsp;&nbsp;
                                            <%= user_data.types[i].name %>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>







                        <div class="flex flex-row h-8  items-center w-full divide-x-[1px] divide-[#1e272e]">
                            <div class="w-1/2 px-2  items-center">progress</div>
                            <div class="w-1/2 flex h-full items-center justify-center"> <input type="range" value="0" class="" name="" id=""> </div>
                        </div>







                        <div class="flex flex-row h-8  items-center w-full divide-x-[1px] divide-[#1e272e]">
                            <div class="w-1/2 px-2 ">due date</div>
                            <div class="w-1/2 flex h-full items-center justify-center"> <input type="date" name="" class="bg-transparent w-full h-full border-none outline-none text-center" id=""> </div>
                        </div>







                        <div class="flex flex-row h-8  items-center w-full divide-x-[1px] divide-[#1e272e]">
                            <div class="w-1/2 px-2 ">tags</div>
                            <div class="w-1/2  h-full flex items-center justify-center relative  cursor-pointer  " id="add_tags_in_list"> 
                                <div class="hover:text-[#7c68ee] transition-all duration-300 ease-in-out flex items-center justify-center relative ">
                                    <%- include('../icons/add_full.svg') %> &nbsp;&nbsp; add tag
                                </div>
                                <div id="add_tags_in_list_modal" class="absolute z-50 hidden border border-[#1e272e] bg-[#2b343b]  overflow-x-auto h-32 w-32 top-8">
                                    <%for (let i = 0; i < user_data.tags.length; i++) { %>
                                        <div id="<%= user_data.tags[i]._id %>" class="selected_tag_in_list  items-center rounded-lg flex flex-row cursor-pointer p-2 overflow-hidden truncate" onmouseenter="this.style.backgroundColor = '<%= user_data.tags[i].color %>'" onmouseleave="this.style.backgroundColor = 'transparent'">
                                            <div class="w-3 h-3 rounded-sm" style="background-color: <%= user_data.tags[i].color %>" > </div>
                                            &nbsp;&nbsp;
                                            <%= user_data.tags[i].name %>
                                        </div>
                                    <% } %>
                                </div>
                             </div>
                        </div>







                        <div class="flex flex-row h-8 flex items-center w-full divide-x-[1px] divide-[#1e272e]">
                            <div class="w-1/2 px-2 ">priority</div>
                            <div class="w-1/2 h-full flex items-center justify-center relative cursor-pointer " id="task_create_priority_toggle"> 
                                <div>-</div>
                                <div class="absolute border border-[#1e272e] rounded-lg bg-[#2b343b] h-fit w-fit p-2 left-0 bottom-12 hidden" id="task_create_priority">
                                    <div class="px-2 py-1 hover:bg-gray-600 cursor-pointer rounded-lg">none</div>
                                    <div class="px-2 py-1 hover:bg-gray-600 cursor-pointer rounded-lg">low</div>
                                    <div class="px-2 py-1 hover:bg-gray-600 cursor-pointer rounded-lg">normal</div>
                                    <div class="px-2 py-1 hover:bg-gray-600 cursor-pointer rounded-lg">high</div>
                                    <div class="px-2 py-1 hover:bg-gray-600 cursor-pointer rounded-lg">urgent</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="new_sub_tasks_tempo" class="flex flex-col p-2 bg-green-600"></div>
                    <div class="my-2 cursor-pointer flex flex-row items-center " id="create_sub_task_input" > <%- include('../icons/add_full.svg') %> add subtask press to add input </div>


                   
                    <button id="submit_create_task" class="bg-[#7b68ee] p-2 w-1/3 self-end">submit</button>
                </div>





            </div>
        </div>
    </div>
</div>