<div class="absolute hidden w-full h-full bg-transparent" id="priorities_modal">
    <div class="absolute bg-gray-600 w-32 p-2 border border-[#1e272e]"  id="priorities_modal_content">
        <div class="divide-y divide-[#1e272e] h-full  ">
            <div id="id" class="selected_tag  flex flex-row cursor-pointer p-2 overflow-hidden truncate hover:bg-gray-400"  >
                <%- include('../icons/flag.svg') %>
                &nbsp;&nbsp;
                none
            </div>
            <div id="id" class="selected_tag  flex flex-row cursor-pointer p-2 overflow-hidden truncate hover:bg-gray-400"  >
                <%- include('../icons/flag_low.svg') %>
                &nbsp;&nbsp;
                low
            </div>
            <div id="id" class="selected_tag  flex flex-row cursor-pointer p-2 overflow-hidden truncate hover:bg-gray-400"  >
                <%- include('../icons/flag_normal.svg') %>
                &nbsp;&nbsp;
                normal
            </div>
            <div id="id" class="selected_tag  flex flex-row cursor-pointer p-2 overflow-hidden truncate hover:bg-gray-400"  >
                <%- include('../icons/flag_high.svg') %>
                &nbsp;&nbsp;
                high
            </div>
            <div id="id" class="selected_tag  flex flex-row cursor-pointer p-2 overflow-hidden truncate hover:bg-gray-400"  >
                <%- include('../icons/flag_urgent.svg') %>
                &nbsp;&nbsp;
                urgent
            </div>
        </div>




        
        
        
        
        
    </div>
</div>

