
<% for( let i = 0; i < workspaces.length; i++ ) { %>
    <% for( let j = 0; j < workspaces[i].lists.length; j++ ) { %>

        <div class="m-6 p-4 border border-gray-700 rounded-lg " id="<%= workspaces[i].lists[j]._id %>">
            <h1 class="text-xl mb-6">
                <%= workspaces[i].lists[j].name %>
            </h1>
            <div class="w-full flex flex-row">
                <div class="h-5 w-5 text-blue-600 border border-blue-600 rounded-full mr-1  toggle_list_of_tasks"></div>
                <div class="flex flex-col w-full">
                    <div class="w-full flex flex-row  pr-2">
                        <div class="flex flex-row space-x-2 w-2/3">
                            <div class="bg-pink-600 rounded-t-md">task category here</div>
                            <div><%= workspaces[i].lists[j].tasks.length %> tasks</div>
                        </div>
                        <div class="flex flex-row w-1/3 lists_of_tasks_indexes">
                            <div class="w-1/4 text-center">due date</div>
                            <div class="w-1/4 text-center">priority</div>
                            <div class="w-1/4 text-center">type</div>
                            <div class="w-1/4 text-center">progress</div>
                        </div>
                    </div>


                    <div class="list_of_tasks" id="tempo">
                        <% for( let k = 0; k < workspaces[i].lists[j].tasks.length; k++ ) { %>
                            <div id="<%= workspaces[i].lists[j].tasks[k]._id %>" class=" w-full flex flex-row bg-gray-800 hover:bg-gray-600 h-10 items-center px-2 cursor-pointer table_row">
                                <div class="flex flex-row space-x-2 w-2/3">
                                    <% if(workspaces[i].lists[j].tasks[k].category){%>
                                        <div class="task_category_toggle border hover:border-blue-600 rounded-sm border-transparent p-0.5 self-center" onmouseover="this.style.borderColor='<%= workspaces[i].lists[j].tasks[k].category.color %>';" onmouseout="this.style.borderColor='rgba(0,0,0,0)';">    
                                            <div class="h-3 w-3 bg-blue-600 rounded-sm self-center " style="background-color: <%= workspaces[i].lists[j].tasks[k].category.color %>; "></div>
                                        </div>
                                    <% }else{ %>
                                        <div class="task_category_toggle border hover:border-white rounded-sm border-transparent p-0.5 self-center">    
                                            <div class="h-3 w-3 bg-white rounded-sm self-center "></div>
                                        </div>
                                    <% } %>
                                    <div class="flex flex-row tags_container"><%=  workspaces[i].lists[j].tasks[k].name %> 
                                        <%workspaces[i].lists[j].tasks[k].tags.forEach(element =>{ %>
                                            <div class="mx-2 px-1 rounded-md flex flex-row" style="background-color: <%= element.color %>"> <%= element.name %> <div id="<%= element._id %>" class="px-1 ml-1 remove_tag hover:bg-red-600 rounded-md">X</div> </div>
                                        <% }) %>

                                    </div>
                                    <div class=" row_hidden_icons rounded-md border border-gray-800 w-10 h-5 hidden flex flex-row divide-x" >
                                        <div class="toggle_sub_tasks w-5 flex items-center justify-center">
                                            <%= workspaces[i].lists[j].tasks[k].sub_tasks.length %>
                                        </div>
                                        <div class="w-5 flex items-center justify-center create_sub_task_in_list" >
                                            +
                                        </div>
                                    </div>
                                    <div class="row_hidden_icons toggle_tags_modal rounded-md border border-gray-800 w-5 h-5 hidden">i</div>
                                    <div class="row_hidden_icons rounded-md border border-gray-800 w-5 h-5 hidden">i</div>
                                </div>
                                <div class="flex flex-row w-1/3 h-full items-center">
                                    <% if(workspaces[i].lists[j].tasks[k].due_date){ %>
                                        azdazd
                                    <% }else{ %>
                                        <div class="w-1/4 text-center">
                                            ib    
                                        </div>
                                    <% } %>
                                    <% if(workspaces[i].lists[j].tasks[k].priority){ %>
                                        azdazd
                                    <% }else{ %>
                                        <div class="w-1/4 text-center">temp</div>
                                    <% } %>
                                    <% if(workspaces[i].lists[j].tasks[k].type){ %>
                                        <div class="w-1/4 text-center hover:bg-green-600 h-full flex  items-center justify-center toggle_types_modal" style="background-color: <%= workspaces[i].lists[j].tasks[k].type.color %>">
                                            <%= workspaces[i].lists[j].tasks[k].type.name %>
                                        </div>
                                    <% }else{ %>
                                        <div class="w-1/4 text-center hover:bg-green-600 h-full flex  items-center justify-center toggle_types_modal">-</div>
                                    <% } %>                     
                                    <div class="w-1/4 flex items-center">
                                        <div class="text-green-600 px-1"><%= Math.round(workspaces[i].lists[j].tasks[k].sub_tasks.reduce((total, next) => total + next.progress , 0)/ workspaces[i].lists[j].tasks[k].sub_tasks.length) || 0 %>%</div>
                                        <div class="w-full rounded-full border border-green-600 h-2">
                                            <div class="h-full rounded-full bg-green-600" style="width:<%= Math.round(workspaces[i].lists[j].tasks[k].sub_tasks.reduce((total, next) => total + next.progress , 0)/ workspaces[i].lists[j].tasks[k].sub_tasks.length)  || 0  %>%"></div>    
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden hidden_sub_tasks ">
                                    <% for( let l = 0; l < workspaces[i].lists[j].tasks[k].sub_tasks.length; l++ ) { %>
                                        <div id="<%= workspaces[i].lists[j].tasks[k].sub_tasks[l]._id %>" class="w-full flex flex-row bg-gray-800 hover:bg-gray-600 h-10 items-center px-2 cursor-pointer table_row">
                                            <div class="flex flex-row space-x-2 w-2/3 h-full items-center">
                                                <% if(!(l == workspaces[i].lists[j].tasks[k].sub_tasks.length-1)){ %>
                                                    <div class="w-10 h-full flex flex-row divide-x">
                                                        <div class="w-1/4 h-full "></div>
                                                        <div class="w-3/4 h-full ">
                                                            <div class="w-full h-1/2  border-b rounded-bl-lg"></div>
                                                        </div>
                                                    </div>
                                                <% }else{ %>
                                                    <div class="w-10 h-full flex flex-row">
                                                        <div class="w-1/4 h-full "></div>
                                                        <div class="w-3/4 h-full ">
                                                            <div class="w-full h-1/2  border-b border-l rounded-bl-lg"></div>
                                                        </div>
                                                    </div>
                                                <% } %>
                                                
                                                <% if(workspaces[i].lists[j].tasks[k].category){
                                                    user_data.categories.filter(obj => {
                                                        if(obj._id== workspaces[i].lists[j].tasks[k].sub_tasks[l].category){%>
                                                            <div class="task_category_toggle border hover:border-blue-600 rounded-sm border-transparent p-0.5 self-center" onmouseover="this.style.borderColor='<%= obj.color %>';" onmouseout="this.style.borderColor='rgba(0,0,0,0)';">    
                                                                <div class="h-3 w-3 bg-blue-600 rounded-sm self-center " style="background-color: <%= obj.color %>; "></div>
                                                            </div>
                                                        <% }
                                                    })
                                                
                                                
                                                }else{ %>
                                                    <div class="task_category_toggle border hover:border-white rounded-sm border-transparent p-0.5 self-center">    
                                                        <div class="h-3 w-3 bg-white rounded-sm self-center "></div>
                                                    </div>
                                                <% } %>
                                                <div class="flex flex-row tags_container"><%=  workspaces[i].lists[j].tasks[k].sub_tasks[l].name %>
                                                    <%workspaces[i].lists[j].tasks[k].sub_tasks[l].tags.forEach(element =>{ %>
                                                        <div class="mx-2 px-1 rounded-md  flex flex-row" style="background-color: <%= element.color %>"> <%= element.name %> <div id="<%= element._id %>" class="px-1 ml-1 remove_tag hover:bg-red-600 rounded-md">X</div> </div>
                                                    <% }) %>
                                                </div>
                                                <div class="row_hidden_icons rounded-md border border-gray-800 w-5 h-5 hidden">i</div>
                                                <div class="toggle_tags_modal row_hidden_icons rounded-md border border-gray-800 w-5 h-5 hidden">tag</div>
                                                <div class="row_hidden_icons rounded-md border border-gray-800 w-5 h-5 hidden">i</div>
                                            </div>
                                            <div class="flex flex-row w-1/3 h-full items-center">
                                                <div class="w-1/4 text-center">ico</div>
                                                <div class="w-1/4 text-center">ico</div> 
                                                <% if(workspaces[i].lists[j].tasks[k].sub_tasks[l].type){ %>
                                                    <div class="w-1/4 text-center hover:bg-green-600 h-full flex  items-center justify-center toggle_types_modal" style="background-color: <%= workspaces[i].lists[j].tasks[k].type.color %>">
                                                        <%= workspaces[i].lists[j].tasks[k].type.name %>
                                                    </div>
                                                <% }else{ %>
                                                    <div class="w-1/4 text-center hover:bg-green-600 h-full flex  items-center justify-center toggle_types_modal">-</div>
                                                <% } %>  
                                                <div class="w-1/4 flex items-center">
                                                    <div class="text-green-600 px-1"><%= workspaces[i].lists[j].tasks[k].sub_tasks[l].progress %>%</div>
                                                    <div class="w-full rounded-full border border-green-600 h-2">
                                                        <div class="h-full rounded-full bg-green-600" style="width:<%= workspaces[i].lists[j].tasks[k].sub_tasks[l].progress %>%"></div>    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                        <div class="rounded-md hover:bg-gray-700 w-fit mt-2 px-2 add_task_in_list">
                            + add task
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
<% } %>
































