<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="public/css/app.css" />
    </head>
    <body class='text-white text-sm'>


        <!-- must change to include on demand -->
        <%- include('components/success_modal') %>
        <%- include('components/create_list_modal') %>
        <%- include('components/create_task_modal') %>
        <%- include('components/create_space_modal') %>

        

        <div class='flex flex-row h-full bg-[#1d203e]'>
            <%- include('components/side_bar') %>
            <div class='w-full h-screen overflow-y-auto'>
                <%- include('components/nav_bar') %>                
                <%- include('components/work_flow') %>
            </div>
        </div>

      
        <button id="toggle_create_task_modal"
        class="fixed z-90 bottom-6 right-6 bg-blue-600 w-10 h-10 rounded-full drop-shadow-lg flex
         justify-center items-center text-white text-4xl hover:bg-blue-700 hover:drop-shadow-2xl
          hover:animate-spin duration-300">&#9593;</button>

        <script src="public/js/app.js" ></script>
    </body>
</html>

