<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="public/css/app.css" />
        <link rel="stylesheet" type="text/css" href="public/css/states.css" />



        <script type="module" src="public/js/test.js" ></script>
        <script src="public/js/functions.js" defer></script>
        <!---->
        <script src="public/js/modals.js" defer></script>
        <script src="public/js/frontend_events.js" defer></script>
        <script src="public/js/backend_events.js" defer></script>
    </head>
    <body class='text-white sm:text-sm md:text-md lg:text-md'>
        
        
        <!-- must change to include on demand -->
        <%- include('modals/success_modal') %>
        <%- include('modals/create_list_modal') %>
        <%- include('modals/create_task_modal') %>
        <%- include('modals/create_space_modal') %>
        <%- include('modals/select_list_modal') %>
        <%- include('modals/tags_modal') %>
        <%- include('modals/types_modal') %>
        <%- include('modals/categories_modal') %>
        <%- include('modals/task_modal') %>



        <div id="loader_parent">
            <div id="loader"></div>
        </div> 



        <div id="hover_item" class="absolute hidden p-6 bg-red-600 rounded-md h-10 w-32">
            <div id="hover_item_content"> 
                
            </div>
        </div>

        <div class='flex flex-row h-full bg-[#1e272e]'>
            <%- include('components/side_bar') %>
            <div class='w-full h-screen overflow-y-auto'>
                
                <!--
                <ul id="sortlist">
                    <li>First</li>
                    <li>Second</li>
                    <li>Third</li>
                    <li>Forth</li>
                    <li>Fifth</li>
                </ul> -->
                
                <%- include('components/nav_bar') %>                
                <%- include('components/work_flow') %>
            </div>
        </div>

        <button id="toggle_create_task_modal"
        class="fixed z-90 bottom-6 right-6 bg-blue-600 w-10 h-10 rounded-full drop-shadow-lg flex
        justify-center items-center text-white text-4xl hover:bg-blue-700 hover:drop-shadow-2xl
        hover:animate-spin duration-300">&#9593;</button>

    </body>
</html>

